{{20*30}}
<br>
{{firstName}}
<form>
    User Name: <input type="text" name="" id="" class="form-control">
    Password: <input type="password" name="" id="" class="form-control">
    Confirm Password: <input type="password" name="" id="" class="form-control">
    First Name: <input type="text" name="" id="" class="form-control">
    Last Name: <input type="text" name="" id="" class="form-control">
    Email Id: <input type="email" name="" id="" class="form-control">
    Contact: <input type="number" name="" id="" class="form-control">
    <br>
    <input type="button" value="Sign Up" class="btn btn-success">&nbsp;
    <input type="reset" value="Reset" class="btn btn-warning">

</form>
{{firstName}}
<br>
<br><br><br><br><br><br><br><br><br>